<%= form_with(model: @bank, local: true) do |form| %>
  <%= render "banks/shared/error_messages", resource: @bank %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar' %>
  </div>
<% end %>
