<!DOCTYPE html>
<html>
  <head>
    <title>Ht</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="ht-white mx-5">
    <img class="w-16 h-16 rounded-full" src="https://via.placeholder.com/64x64" />
    <p class="ht-title">Hola</p>
    <p class="ht-subtitle">Hola</p>
    <p class="ht-text">Hola</p>
    <p class="ht-text-light">Hola</p>
    <p class="ht-text-small">Hola</p>
    <a class="ht-link" href="#">Hola</a>
    
    <div class="card-empty">
      <div class="card-white">
        <p class="ht-subtitle">card white</p>
        <p class="ht-text">card white</p>
      </div>
    </div>
    <%= render "shared/flashes" %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
